.section-login {
    min-height: 700px;
    background: #fec09b;
    display: flex;
}

.form-background {
    background: #e9ab9c;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
}

.form-background>h3 {
    text-align: center;
    margin-top: 30px;
}

.form-item {
    margin-bottom: 30px;
    text-decoration: none;
}

.btn-login {
    padding: 12px 38px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #025a09;
    color: #fff;
    border: 1px solid #000000;
    outline: none;
    cursor: pointer;
    display: table;
    margin: 15px auto 15px auto;
}

.user-register {
    text-decoration: none;
    text-align: center;
}

.resetpassword a {
    text-decoration: none;
}


/* .user-register a,
.resetpassword a {
    text-decoration: none;
} */


/* .user-register>div,
.user-register a {
    color: #000000 !important;
    text-decoration: none;
} */

.text-danger {
    color: black !important;
}

.text-danger a {
    text-decoration: none;
}